table {
    border-collapse: collapse;
    margin-left: 33%;
    margin-top: 10%;
} 
 td { 
    padding: 20px;
    border: 1px solid black;
    background-color: aliceblue;
} 

th { 
    border: 1px solid black;
    padding: 20px;
    text-align: left;
    background-color: aliceblue;
    
} 
